@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

    .appName{
      @apply
      xl:text-2xl
      lg:text-xl
      md:text-[18px]
      md:inline-flex
      hidden
  }
  
.contact{
    @apply 
    font-google-sans 
    text-xl
    lg:inline-flex
    hidden
    font-normal
}

  .routesDiv{
      @apply
      lg:flex
      items-center
      space-x-4
      hidden
  }

  .developerTitle{
    @apply
    lg:inline-flex
    hidden
    text-xl
  }

  .newsContentText{
    @apply
    px-2 
    lg:max-w-[380px] 
    lg:max-h-[340px] 
    lg:inline-flex 
    hidden
  }

}