@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .mobileDisplay{
    @apply
    md:flex
    hidden
    z-50 
    bottom-0 
    sticky 
    bg-gray-600 
    px-8 
    py-4 
    justify-between 
    items-center
  }

    .appName{
      @apply
      xl:text-2xl
      lg:text-xl
      md:text-[18px]
      md:inline-flex
      hidden
  }
  
.contact{
    @apply 
    font-google-sans 
    text-xl
    lg:inline-flex
    hidden
    font-normal
}

  .routesDiv{
      @apply
      lg:flex
      items-center
      space-x-4
      hidden
  }

  .developerTitle{
    @apply
    lg:inline-flex
    hidden
    text-xl
  }

  .newsContentTitle{
    @apply
    md:inline-flex
    hidden
    font-semibold
    font-robot-slab 
    text-xl 
    text-sky-100 
    max-w-[390px]
  }

  .newsContentAuthor{
    @apply
    md:inline-flex
    hidden
    font-normal 
    font-robot-slab
    text-lg
    text-sky-200
    max-w-[210px]
  }

  .newsContentText{
    @apply
    px-2 
    lg:max-w-[380px] 
    lg:max-h-[340px] 
    lg:inline-flex 
    hidden
  }

}